<%- include('partials/head') %>

<main>
    <h1>Your Cars</h1>    
    <div class="button-container">
        <button><a class="button" href="/your-cars/add">Add New Car</a></button>
    </div>
    
    <div class="cars-grid">

    </div>
</main>

</body>
</html>
